body {
	width: 100%;
	height: 100%;
	background-color: #202020;
}

h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #FFFFFF;
}

.main-screen {
	padding: 10px;
}

.ui.stackable.menu {
	background-color: #d4d4d5;
}

.ui.header.title {
	margin: 7px 0 0 15px;
}

#camera-panel {
	margin-top: 20px;
}

.ui.cards>.card {
	max-height: 225px;
	display: block;
}

.ui.modal {
	height: 85%;
	width: 100%;
	position: fixed;
}

.ui.active.card {
	background-color: #d4d4d5;
}

div#my-player {
	width: 100%;
    height: 100%;
}

.loader {
	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
	left: 0;
	background-repeat: round;
	background-image: url(images/loader.jpg);
	background-size: 100%;
	z-index: 99;
}